<html>
	<head>
		<title>articles :: saltire sable industries</title>
		<link rel="stylesheet" href="static/style.css" />
		<link rel="stylesheet" href="static/articles.css" />
		{% include "elements/ga.html" %}
	</head>
	<body class="pic">
		<div id="top">
			<div class="backg"></div>
			<a class="leftlink" href="/articles">articles</a>
			<a class="rightlink" href="/"><img src="/saltiresable-small.png" alt="saltire sable." /></a>
		</div>
		<h1 class="center">articles.</h1>
		<div class="menubox">
			<div class="backg"></div>
			{% for article in articles %}
			<a href="articles/{{ article.route }}">
				<span class="atitle">{{ article.title }}</span>
				{{ article.summary }}
			</a>
			{% endfor %}
		</div>
	</body>
</html>
